body {
    top:0;
    bottom:0;
    left:0;
    background-color:#f8f7f0;
}
ul {
    list-style-type: none;
    width: 1200px;
    margin: 0 auto;
    padding: 20;
    overflow: hidden;
  }
  li {
      float: left; 
  }
  li a {
    display: block;
    text-align: center;
    width: 150px;
    background-color: #037272;
    color: #f8f7f0;
    text-decoration:none; 
  }
  a:hover {
    background-color: #00848c; 
  }
  .blue-text {
        color: #1c1f4c;
         font-family: Bahnschrift; 
      }
      h1{
          color: #1c1f4c;
          font-family: sans-serif;
      }
      .inner {
        width: 800px;
        border: 10px solid black;
      }
      .aboutPic {
        width: 400px !important;
        border: 10px solid black;
      }
      img{
        display:block;
        margin:0 auto;
        width:150px;
      }
      .text {
        width: 1000px;
      }
      p{
        color: #00848c;
        font-family: Bahnschrift Light;
        font-size: medium;
        margin:0 auto;
        width: 1000px;
        align-content: left;
      }
      form{
        font-family: Bahnschrift;
      }
      Footer {
         height: 20px;
         background: #fec20f; 
         color: white;  
         text-align: right;
    }