/* myStyle.css */
body {
    background-color: slategray;
}
.brown-text {
    color: rgb(112, 29, 29);
     font-family: Bahnschrift; 
  }
  h1 {
    color: rgb(167, 44, 44);
    font-size: Large;
    font-family: Bahnschrift; 
    text-align: center;
  }
  ul{
    color: rgb(112, 29, 29);
    font-family: Bahnschrift; 
    text-align: left;
  }
  ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  dt{
    color: rgb(112, 29, 29);
    font-family: Bahnschrift; 
    text-align: left;
  }
  li{
    color: rgb(112, 29, 29);
    font-family: Bahnschrift; 
    text-align: left;
  }
  li.a {
    float: left; 
  }
  a{
    color: rgb(117, 62, 62);
    font-family: Bahnschrift; 
    text-align: left;
  }
  p{
    font-family: Bahnschrift Light;
  }
}
li a {
 display: block;
padding: 8px;
background-color: #8a9ace;
color: black;
}